*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.reader {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.reader-video {
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.reticle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

.reticle-box {
    width: 70vw;
    height: 70vw;
    border: 4px solid #fff;
    /* -webkit-animation: 0.8s linear 0s infinite alternate move_reticle; */
    /* animation: 0.8s linear 0s infinite alternate move_reticle; */
}

@-webkit-keyframes move_reticle {
    from {
        width: 70vw;
        height: 70vw;
    }
    to {
        width: 75vw;
        height: 75vw;
    }
}
@keyframes move_reticle {
    from {
        width: 70vw;
        height: 70vw;
    }
    to {
        width: 75vw;
        height: 75vw;
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-overlay.is-show {
    display: flex;
}

.modal {
    width: 80%;
    background: #fff;
    border-radius: 10px;
}

.modal-cnt {
    padding: 30px 15px;
}

.modal-title {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.modal-result {
    resize: none;
    word-break: break-all;
    border: none;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.modal-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background: none;
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.unsupported {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #000;
    color: #fff;
    z-index: 999;
}

.unsupported.is-show {
    display: flex;
}

.unsupported-title {
    font-weight: bold;
    font-size: 2em;
}
